@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

body {
    font-size: $font-base;
    color: $black;
    overflow-x: hidden;
    position: relative;



    
    height: 2000px;
}

a {
    color: $black;
    text-decoration: none;
    text-decoration-color: $yellow;
    cursor: pointer;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.top--section {
    height: 100vh;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    position: relative;

    .top--section__description {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // height: 100%;
        width: 30%;
    }
}